
<style>
  .table-data-feature .item {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
button {
    border: none;
    background: none;
}
button, input[type='button'] {
    cursor: pointer;
}
</style>
<br>
<br>
<br>
<div class="col-lg-6 " >
  <div class="card">
  <div class="card-header">
    <strong> Insert New Product </strong> 
  </div>
  <div class="card-body card-block">
   {{#each results}}

    <form action="/editimi/{{this.productId}}" method="put"  enctype="multipart/form-data" autocomplete="off" class="form-horizontal">
    
     
      <div class="row form-group">
        <div class="col col-md-3">
          <label for="text-input" class=" form-control-label"> Product Name:</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="emri1" placeholder="Name of Product" value={{this.pName}} class="form-control">
         
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="email-input" class=" form-control-label"> Price </label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="cmimi1" placeholder="Price of Product" value={{this.pPrice}} class="form-control">
          
        </div>
      </div>
    

    <div class="row form-group">
        <div class="col col-md-3">
          <label for="text-input" class=" form-control-label"> Weight </label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="pesha1" placeholder="Weight of Product" value="{{this.pWeight}}" class="form-control">
          
        </div>
      </div>

   <div class="row form-group">
        <div class="col col-md-3">
          <label for="text-input" class=" form-control-label"> Material </label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="materiali" placeholder="Material of Product" value="{{this.material}}" class="form-control">
          
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="textarea-input" class=" form-control-label">Description</label>
        </div>
        <div class="col-12 col-md-9">
          <textarea name="pershkrimi1" id="textarea-input" rows="4" placeholder="Describe..."
            class="form-control">
            {{this.pDescription}}
            </textarea>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="select" class=" form-control-label"> Select Category </label>
        </div>
        <div class="col-12 col-md-9">
          <select name="kategoria1" id="select" class="form-control">
             
            <option value="1"> Bags </option>
            <option value="2"> Shoes </option>
            
          </select>
        </div>
      </div>
<br>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="select" class=" form-control-label"> Select Subcategory </label>
        </div>
        <div class="col-12 col-md-9">
          <select name="nenkategoria1" id="select" class="form-control">
             
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>

          </select>
        </div>
      </div>

<br>
     
       <div class="row form-group">
        <div class="col col-md-3">
          <label for="select" class=" form-control-label"> Select Sector </label>
        </div>
        <div class="col-12 col-md-9">
          <select name="sektori" id="select" class="form-control">
             
            <option value="New"> News </option>
            <option value="Deals"> Deals </option>
            
          </select>
        </div>
      </div>

<br>

 <div class="row form-group">
        <div class="col col-md-3">
          <label for="select" class=" form-control-label"> Gender </label>
        </div>
        <div class="col-12 col-md-9">
          <select name="gjinia" id="select" class="form-control">
             
            <option value="F"> F </option>
            <option value="M"> M </option>
            
          </select>
        </div>
      </div>
<br>
      
      <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Colors</label>
        </div>
        <div class="col col-md-9">
          <div class="form-check">
            <div class="radio">
              <label for="radio1" class="form-check-label ">
                <input type="radio" id="radio1" name="ngjyra" value="Red | Blue | Grey | Green | Yellow | Pink" class="form-check-input">Red | Blue | Grey | Green | Yellow | Pink 
              </label>
            </div>
            <div class="radio">
              <label for="radio2" class="form-check-label ">
                <input type="radio" id="radio2" name="ngjyra" value="Black | White | Grey" class="form-check-input">Black | White | Grey
              </label>
            </div>
           
          </div>
        </div>
      </div>

<br>

      <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Numbers</label>
        </div>
        <div class="col col-md-9">
          <div class="form-check">
            <div class="radio">
              <label for="radio3" class="form-check-label ">
                <input type="radio" id="radio3" name="numri" value="36 | 37 | 38 | 38 | 40 " class="form-check-input">36 | 37 | 38 | 38 | 40 
              </label>
            </div>
            <div class="radio">
              <label for="radio4" class="form-check-label ">
                <input type="radio" id="radio4" name="numri" value="41 | 42 | 43 | 44 | 45" class="form-check-input">41 | 42 | 43 | 44 | 45
              </label>
            </div>
           
          </div>
        </div>
      </div>
      


      
<br>

      
      <div class="row form-group">
        <div class="col col-md-3">
          <label for="file-input" class=" form-control-label">Photo of Product</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="file" id="file-input" name="foto" class="form-control-file">
        </div>
      </div>

     {{/each}}

    <button type="submit" class="btn btn-primary ">
       Edit
    </button>

    
 

    </form>

  </div>
  
</div>

</div>

<br><br><br>


